 .navbar ul {
     display: flex;
     justify-content: space-between;
     width: 80%;
     float: right;
     margin: 0;
     padding-top: 0;
     text-decoration: none;
 }    
 .nav {
     display: flex;
     padding: 0;
     
 }
 .navbar {
     width: 80%;
     padding-top: 20px;
     
 }
 
 .preview {
     background-color: lightskyblue;
     padding-top: 0;
     margin: 0;
     width: 200px;
 }
 .c-video {
     display: flex;
     
     
     
 }
 .videos {
     padding-top: 20px;
     
 }
 .preview ul li{
     text-decoration: none;
 }
 .description {
     padding: 0 120px;

 }
 li {
     display: flex;
     text-decoration: none;
 }

 

     
 
 
    
    